body {
  background-image: url("bg1.jpg");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover

}

p {
  color: black;
  text-indent: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 20px;
}

.box1{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.box2{
  margin: auto;
  margin-top: 20px;
  top: 10px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.box3{
  margin: auto;
  margin-top: 20px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}